body {
  touch-action: none;
}

.indicator {
  background-color: rgba(0, 0, 0, 0.1);
  height: 36px;
  width: 24px;
  top: 45%;
  position: fixed;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
}

.indicator-left {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  left: 0;
  padding-right: 5px;
}

.indicator-right {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  right: 0;
  padding-left: 5px;
}
